{
  "questions": [
    ":monogaminghageshii:\n🔥",
    "民放ももっと再放送増やして新作に人を俺は知らない",
    "なに色のなに！",
    "ロッカーあめさん",
    "狭くて広い東京"
  ],
  "createdAt": 1751359206927,
  "emojiTags": [
    [
      "emoji",
      "monogaminghageshii",
      "https://i.imgur.com/RKZzqQI.gif"
    ]
  ],
  "userInfo": {
    "id": "7232d725dbbab9c881b2a26af88fd651dd917362a70ec7d3018296c6a22ff54e",
    "name": "tiltpapa",
    "display_name": "ティル父さん",
    "npub": "npub1wgedwfwmh2uu3qdj5f403r7k28wezumz5u8v05cps2tvdg30748qf2y7nq"
  }
}